<!DOCTYPE html>
{%load blog_tags %}
{%load staticfiles%}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{%block title %}{%endblock%}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->

<!-- Bootstrap CSS File -->

  <link rel="stylesheet" href="{%static "lib/bootstrap/css/bootstrap.min.css" %}">

  <!-- Libraries CSS Files -->

    <link rel="stylesheet" href="{%static "lib/font-awesome/css/font-awesome.min.css" %}">

  <link rel="stylesheet" href="{%static "lib/animate/animate.min.css" %}">

  <link rel="stylesheet" href="{%static "lib/ionicons/css/ionicons.min.css" %}">


  <link rel="stylesheet" href="{%static "lib/owlcarousel/assets/owl.carousel.min.css" %}">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{%static "lib/lightbox/css/lightbox.min.css" %}">
  <!-- Main Stylesheet File -->

  <link rel="stylesheet" href="{%static "css/style.css" %}">



  <!-- Bootstrap CSS File -->



</head>

<body id="page-top">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">JAGA's BLOGSPOT</a>

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">About</a>
          </li>


          <li class="nav-item">
            <a class="nav-link js-scroll" href="#blog">Blog</a>
          </li>
            <li class="nav-item">
            <a class="nav-link js-scroll" href="/ct">Signup</a>
          </li>
            <li class="nav-item">
            <a class="nav-link js-scroll" href="/ct">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/ct">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

{%block content%}{%endblock%}

  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
 <div id="home" class="intro route bg-image" style="background-image: url(https://images.unsplash.com/photo-1588617312276-deeae375da60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80)">
   

    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">Jaga's Blogspot</h1>
          <p class="intro-subtitle"><span class="text-slider-items"> Hi !,I am Jagan Mohan , My profession is Web Developer,I Developed the Websites using Python and Django ,I have a knowledge on Frontend Development ,and, Mysql Database  </span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
                <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    <h2>Hi! I'm <span>Jagan Mohan</span></h2>
                  <p align=" justify"> 	Am a software engineer from INDIA. My job carieer started as software testing engineer based on project requirements and company requirements i worked various roles like Test engineer (Working on Manual testing and Selenium testing), Front end developer (Working on  HTML,CSS and Js ), Back end developer (Working on Python,Django,DRF) and Database developer(Writing mysql queries).</p>

                  </p>
                  <p align=" justify">
                    For the past 2+ years, I've been developing web applications  using  Python and Django Frame work. In project my responsibility as Django developer integrate UI elements to server using Django frame work.
											I spend a lot of time learning new techniques and actively help other people learn web development through a variety of help groups and writing web development tutorials for my website and blog about advancements in web design and development.

                  </p>

                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About the Blog
                    </h5>
                  </div>


<p align=" justify">Hi! I'm <b>Jagan Mohan, </b> this blog web site designed  maintained by me. The reason to start this blog is to  share the knowledge to others what ever i learned . Why because i belive sharing of knowledge  that gains my knowledge more. Here  not only me publishing the posts but also my friends and my colleagues publishing the posts different technologies . </p>
                  <h2> Which  type posts published here ?</h2>
                  <p align=" justify"> So most of the publishing posts are related to domains like <ul><li><b>Web</b>,</li><li><b>MachineLeaning </b>,</li><li><b>AI</b>,</li><li> <b>Analytics</b>,</li><li><b>Devops</b>,</li><li><b>cloud</b>,</li><li><b>RDBMS</b>,</li> e.t.c.</p></ul>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Blog
            </h3>

            {%if tag%}  <!--  if tag is not None means when end user click the tag execute the if  -->
        <h2>Posts tagged with '{{tag.name}}'</h2>
        {%endif%}
            <div class="line-mf"></div>
          </div>
        </div>
      </div>

<div >
   {%for post in post_list %}


    </p>


      <div class="row">
        <div class="col-md-12">
          <div class="card card-blog">
            <div class="card-img">
              <a href="blog-single.html"><img src="{%static  "img/jaga.png" %}" alt="" class="img-fluid" title={{post.title}}></a>

            </div>
            <div class="card-body">
              <div class="card-category-box">

              </div>
              <h3 class="card-title">Title of the Post :<a href="{{post.get_absolute_url}}"><u>{{post.title}}</u></a></h3>
              <p class="card-description">
                {{post.body|truncatewords:30|linebreaks}}
                                                                                       <a href="{{post.get_absolute_url}}"><u>click here to read</u></a>
              </p>

            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">

                  <span class="ion-ios-person"> Published by : <b>{{post.author|title}}</b></span>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </a>
              </div>

              <div class="post-date">
                <span class="ion-ios-clock-outline" id='date'> Published on :  </span> <b>{{post.publish}}</b>

              </div>&nbsp; &nbsp; &nbsp;<br><br>
              <div class="post-tags">




                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="ion-pricetags">Tags :{%for tag in post.tags.all %}

      {%if not forloop.last%} {%endif%} <b><a href="{%url "post_list_by_tag_name" tag.slug %}"><button type="button"  >{{tag.name}}</button></a></b></span>





                {%endfor%}

    </p>
              </div>
            </div>
          </div>
        </div>

		</div>
  {%endfor%}
</div>
        </div>
    <div class="container" align="centere">
<span  class="container" align="right" style="color:blue">{% include 'blog/pagenation.html' with page=post_list%}</span>
      </div>
</section>
  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url()">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">&copy; Design and Developed by <strong>Jagan mohan</strong></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


  <!-- JavaScript Libraries -->
  <script type="text/javascript" src="{%static "lib/jquery/jquery.min.js" %}"></script>


    <script type="text/javascript" src="{%static "lib/jquery/jquery-migrate.min.js" %}"></script>
   <script type="text/javascript" src="{%static "imglib/popper/popper.min.js" %}"></script>
  <script type="text/javascript" src="{%static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
   <script type="text/javascript" src="{%static "lib/easing/easing.min.js" %}"></script>

 <script type="text/javascript" src="{%static "lib/counterup/jquery.waypoints.min.js" %}"></script>
 <script type="text/javascript" src="{%static "lib/counterup/jquery.counterup.js" %}"></script>
   <script type="text/javascript" src="{%static "lib/owlcarousel/owl.carousel.min.js" %}"></script>
  <script type="text/javascript" src="{%static "lib/owlcarousel/owl.carousel.min.js" %}"></script>


   <script type="text/javascript" src="{%static "lib/lightbox/js/lightbox.min.js" %}"></script>
  <script type="text/javascript" src="{%static "lib/typed/typed.min.js" %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>
  <script type="text/javascript" src="{%static "contactform/contactform.js" %}"></script>
  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
<script type="text/javascript" src="{%static "js/main.js" %}"></script>

</body>
</html>
