<!DOCTYPE html>
{% extends "blog/base.html"%}
{%block body_block%}
<div align="center" class="container">
<br><br><br><br>
<br><br><br><br>
<br><br><br>

<h1>Thank You.!</h1>

<h2>Login Again</h2>

<a href="/accounts/login" class="btn btn-default"> <input type="submit" value="Login" style="background-color:black;color:white;width:150px;
height:40px;"></a>
    <br>
     <a href="/signup"><input type="submit" value="Signup" style="background-color:black;color:white;width:150px;
height:40px;"></a>
    </div>
{%endblock%}

